<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @leg.location %><br /><br />
  <b>Departure/Arrival:</b>
  <%= @leg.depart_arrive_type %><br /><br />
  <b>Departure/Arrival time:</b>
  <%= @leg.depart_arrive %><br /><br />
  <b>Details:</b>
  <%= @leg.details %>
</p>


<%= link_to 'Edit', edit_leg_path(@leg) %> |
<%= link_to 'Back', legs_path %>
